/DefiniteClauseToLiteralIterable.class
/AssertRetractListener.class
/ClausebaseIndexInfo.class
/DebuggingAbstractMap$1$1.class
/DebuggingAbstractMap$1.class
/DebuggingAbstractMap$2$1.class
/DebuggingAbstractMap$2.class
/DebuggingAbstractMap$SimpleEntry.class
/DebuggingAbstractMap$SimpleImmutableEntry.class
/DebuggingAbstractMap.class
/DebuggingHashMap$Entry.class
/DebuggingHashMap$EntryIterator.class
/DebuggingHashMap$EntrySet.class
/DebuggingHashMap$HashIterator.class
/DebuggingHashMap$KeyIterator.class
/DebuggingHashMap$KeySet.class
/DebuggingHashMap$ValueIterator.class
/DebuggingHashMap$Values.class
/DebuggingHashMap.class
/DefaultHornClauseContext.class
/DefaultHornClausebase$SpyAssertRetractListener.class
/DefaultHornClausebase.class
/DefaultHornClausebaseIndexer.class
/DefaultProof.class
/DefiniteClauseList.class
/DefiniteClauseToClauseIterable$DefiniteClauseToClauseIterator.class
/DefiniteClauseToClauseIterable.class
/DefiniteClauseToLiteralIterable$DefiniteClauseToLiteralIterator.class
/GroundClauseIndex.class
/GroundNthArgumentClauseIndex.class
/HornClauseContext.class
/HornClauseProver.class
/HornClauseProverChildrenGenerator$1.class
/HornClauseProverChildrenGenerator$CutLiteral.class
/HornClauseProverChildrenGenerator$CutMarkerLiteral.class
/HornClauseProverChildrenGenerator$CutMarkerNode.class
/HornClauseProverChildrenGenerator$FailedTraceNode.class
/HornClauseProverChildrenGenerator$StackTraceLiteral.class
/HornClauseProverChildrenGenerator.class
/HornClausebase.class
/HornClausebaseIndexer.class
/HornSearchNode.class
/ImprovedHornClausebase.class
/InitHornProofSpace.class
/InteractivePrompt.class
/LazyGroundClauseIndex$LRUMap.class
/LazyGroundClauseIndex.class
/LazyGroundNthArgumentClauseIndex$MyMap.class
/LazyGroundNthArgumentClauseIndex.class
/LazyHornClausebase$SpyAssertRetractListener.class
/LazyHornClausebase.class
/LazyHornClausebaseIndexer.class
/MapOfDefiniteClauseLists.class
/NewMain.class
/PredicateIndex.class
/Proof.class
/ProofDone.class
/ProofListener.class
/ProofMonitor.class
/UserHornClauseProver.class
/VariantClauseAction.class
