/DoBuiltInMath.class
/ExistentialSentence.class
/FOPCInputStream.class
/Function.class
/FunctionName.class
/HandleFOPCstrings$SetParamInfo.class
/HandleFOPCstrings$VarIndicator.class
/HandleFOPCstrings.class
/Implication.class
/IsaHetrarchy.class
/ListAsSentence.class
/ListAsTerm.class
/Literal.class
/LiteralAsTerm.class
/LiteralComparator.class
/LiteralOrFunction.class
/LiteralToThreshold.class
/NamedTerm$NamedTermComparator.class
/NamedTerm.class
/NamedTermList.class
/NumericConstant$1.class
/NumericConstant.class
/ObjectAsTerm.class
/PredicateName$FunctionAsPredType.class
/PredicateName.class
/PredicateNameAndArity.class
/PredicateNameAndArityFilter.class
/PredicateSpec$TypeModeAndSignature.class
/PredicateSpec.class
/PrettyPrinter$FOPCPrettyPrinterData.class
/PrettyPrinter$PPResult.class
/PrettyPrinter$PrecedenceInfo.class
/PrettyPrinter$PrettyPrinterVisitor.class
/PrettyPrinter.class
/PrettyPrinterOptions.class
/ProcedurallyDefinedPredicateHandler.class
/PruneDuplicatesIfTrueRule$PruneIfTrueElementFilter.class
/PruneDuplicatesIfTrueRule.class
/PruneIfTrueRule.class
/Pruner.class
/PruningRule.class
/QuantifiedSentence.class
/RecordBacktrackEntry.class
/RecordEntry.class
/RecordHandler$Pair.class
/RecordHandler$RecordList.class
/RecordHandler.class
/RecordReference.class
/RecordReferenceMap$RRKey.class
/RecordReferenceMap.class
/RelevanceStrength.class
/RelevantLiteral.class
/SLDQuery.class
/Sentence.class
/SentenceAsTerm.class
/SentenceOrTerm.class
/SentenceUnifier$SentenceUnifierData.class
/SentenceUnifier$SentenceUnifierVisitor.class
/SentenceUnifier.class
/StandardPredicateNames.class
/StringConstant.class
/Term.class
/TermAsLiteral.class
/TermAsSentence.class
/TermToBooleanTypeConverter.class
/TermToDoubleTypeConverter.class
/TermToIntegerTypeConverter.class
/TermToJavaTypeConverter.class
/TermToStringTypeConverter.class
/Theory.class
/TreeStructuredTheory.class
/TreeStructuredTheoryInteriorNode.class
/TreeStructuredTheoryLeaf.class
/TreeStructuredTheoryNode.class
/Type$SerializableType.class
/Type.class
/TypeSpec.class
/Unifier.class
/UniversalSentence.class
/UserDefinedCacheResolver.class
/UserDefinedLiteral.class
/UserDefinedLiteralCache$1.class
/UserDefinedLiteralCache$CacheEntry.class
/UserDefinedLiteralCache$CacheKey.class
/UserDefinedLiteralCache$CacheStatistics.class
/UserDefinedLiteralCache$SizeLimitedCacheMap.class
/UserDefinedLiteralCache.class
/VarList.class
/Variable.class
/AbstractTypedUserDefinedBooleanLiteral.class
/AbstractTypedUserDefinedFunctionAsLiteral.class
/AbstractTypedUserDefinedLiteral.class
/AbstractUserDefinedBooleanLiteral.class
/AbstractUserDefinedFunctionAsLiteral.class
/AbstractUserDefinedLiteral.class
/AllOfFOPC.class
/ArgList.class
/ArityFilter.class
/Binding.class
/BindingList$AmbiguousVariableLookup.class
/BindingList.class
/BuiltinProcedurallyDefinedPredicateHandler.class
/CallbackRegister.class
/Clause.class
/ConnectedSentence.class
/ConnectiveName$SerializableConnectiveName.class
/ConnectiveName.class
/ConsCell$ConsCellIterator.class
/ConsCell.class
/Constant.class
/ConstantList.class
/ConstructedLiteral.class
/DefiniteClause.class
/DoBuiltInListProcessing.class
