/BooleanParameter.class
/DoubleParameter.class
/EnumParameter$Bob.class
/EnumParameter.class
/IllegalParameterException.class
/IntegerParameter.class
/Parameter.class
/ParameterBuilder.class
/ParameterList.class
/ParameterRequiredException.class
/StringParameter.class
