/ArgumentNameClearer$RealClearArgumentNamesVisitor.class
/ArgumentNameClearer.class
/DefaultFOPCVisitor.class
/DefaultSentenceVisitor.class
/DefaultTermVisitor.class
/DefiniteClauseCostAggregator$AggregationMode.class
/DefiniteClauseCostAggregator$PredicateCollectorVisitor.class
/DefiniteClauseCostAggregator.class
/DoubleNegationByFailureRemover$RemoveNegationByFailureVisitor.class
/DoubleNegationByFailureRemover.class
/DuplicateDeterminateRemover$LitEntry.class
/DuplicateDeterminateRemover$MergeEntry.class
/DuplicateDeterminateRemover$PassOneData.class
/DuplicateDeterminateRemover$PassOneVisitor.class
/DuplicateDeterminateRemover$PassThreeData.class
/DuplicateDeterminateRemover$PassThreeVisitor.class
/DuplicateDeterminateRemover$PassTwoData.class
/DuplicateDeterminateRemover$PassTwoVisitor.class
/DuplicateDeterminateRemover.class
/ElementAndPath.class
/ElementFinder$ElementFinderData.class
/ElementFinder$ElementFinderListener.class
/ElementFinder.class
/ElementPath.class
/ElementPositionListener.class
/ElementPositionVisitor$ElementPositionData.class
/ElementPositionVisitor.class
/ElementRemover$ElementRemoverData.class
/ElementRemover$ElementRemoverVisitor.class
/ElementRemover.class
/Inliner$InlineData.class
/Inliner$InlinerVisitor.class
/Inliner.class
/PredicateCollector$PredicateCollectorData.class
/PredicateCollector$PredicateCollectorVisitor.class
/PredicateCollector.class
/ReplaceLiteralsVisitor.class
/ReplacePredicatesVisitor.class
/SentencePruner$SentencePrunerData.class
/SentencePruner$SentencePrunerListener.class
/SentencePruner.class
/SentenceVisitor.class
/StopVisitingException.class
/TermPosition.class
/TermReplacer$ReplaceTermsVisitor.class
/TermReplacer.class
/TermVisitor.class
/VariableCollector$VariableCollectorVisitor.class
/VariableCollector.class
/VariableCounter$VariableCounterVisitor.class
/VariableCounter.class
